* {
    margin: 0; padding: 0; box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fefefe;
    background-image: radial-gradient(circle, #ddd 1px, transparent 1px);
    background-size: 40px 40px;
    animation: floatDots 20s linear infinite;
    font-family: 'Quicksand', sans-serif;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

@keyframes floatDots {
    from { background-position: 0 0; }
    to   { background-position: 100px 100px; }
}

.main {
    background-color: #f0f0f0;
}

body.loaded {
    opacity: 1;
}

.slideshow {
    position: relative;
    width: 1200px; height: 800px;
    overflow: hidden;
    margin: 50px auto 0 auto; 
    margin-left: 400px;
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    opacity: 0.5;
}

.slideshow img {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;         
    object-fit: cover;         
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 0;
    border-radius: 10px;    
    filter: brightness(30%); 
    filter: grayscale(100%);
}

.slideshow img.active {
    opacity: 1;
    z-index: 1;
}

nav {
    width: 320px; height: 100vh; 
    background-color: #f0f0f0;
    position: fixed;
    display: flex;
    flex-direction: column;  
    justify-content: center;
}

nav a {        
    text-align: left;
    margin-left: 110px; 
    text-decoration: none;
    color: rgb(82, 82, 82);
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 8px;
    transition: transform 0.4s ease-out, color 0.4s ease;
}

nav a:hover {
    color: rgb(174, 37, 37);
    transform: translateX(5px);
    font-size: 1.5em;
}

nav a.highlight{
    text-decoration: none;
    color: rgb(182, 182, 182);
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 8px;
}

h2, h4, h5, h6, ul {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: rgb(82, 82, 82);
    margin-right: 200px; margin-left: 400px;
}

h2 {
    font-weight: 400;
    font-size: 2em;
    margin-top: 40px;
}

h4 {
    font-size: 1.5em;
    margin-top: 50px;
}

h5 {
    font-size: 1.1em;
    margin-top: 10px;
}

li {
    margin-top: 15px;
}

.ul-large {
    font-weight: 400;
    font-size: 1.3rem;
}

.small-image {
    width: 15px; height: auto; margin-left: 10px;
}

@keyframes nudge {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
}

.linkButton {
    text-decoration: none;
    background-color: rgb(174, 37, 37); color:#ffffff;
    margin-left: 400px; margin-top:30px; 
    font-weight: 700;
    display: inline-block;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    transition: transform 0.4s ease-out, color 0.4s ease;
    animation: nudge 3s infinite;
    
}

.linkButton:hover {
    text-decoration: underline;
    background-color: rgb(182, 182, 182);
    color:#f0f0f0;
    animation: none;
}

.img {
    margin-top: 20px; margin-left: 400px;
}

.profile-img {
    width: 230px; height: auto;
    position: relative; top: 50px; left: 400px;
    float: left;
    border-radius: 10px;
}

.download {
    margin-top: 50px; margin-left:140px;
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(145, 34, 34); color: white;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.download:hover {
    background-color: rgb(182, 182, 182);
    color:#f0f0f0;
    transform: translateY(-2px);
}

.slide-in-portfolio {
    opacity: 0;
    transform: translateX(20px); 
    animation: fadeInSlide 1.3s ease-out forwards;
    animation-delay: 0.2s; 
    object-fit: cover; 
    width: 400px; height: 100px;
    float: right; 
    position: relative; top: -80px; right: 340px; 
    border-radius: 8px;
}

.slide-in-bio {
    opacity: 0;
    transform: translateX(20px); 
    animation: fadeInSlide 1.3s ease-out forwards;
    animation-delay: 0.2s; 
    width: 15%; height: auto; 
    float: right; 
    position: relative; top: 130px; right: 280px;
}

.resume {
    width: 500px; height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

@keyframes fadeInSlide {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}